body{
	background-color: #FFFFFF;
	margin:0%;
}
.Home{

overflow: hidden;


}

.header{
	
	margin-top: -700px;
	margin-right: auto;
	margin-left: auto;
/*	position: absolute;
	top:8px;
	right:90px;*/
	
	
}



.logu {
	
	margin-left: auto;
margin-right: auto;
	width: fit-content;
		height: fit-content;
	opacity: 100%;
	padding-left: 70px;
}
.backsymbol{
	position: relative;
	top:0%;
	right: 40%;
}
.header a{
	display: inline;
	font-size: 16px;
	font-family: "Open Sans";
	text-decoration: none;
	opacity: 100%;
	color: #C4C9D9;
	
	padding-left: 10px;
	padding-right: 30px;

}
.navbar #homee{
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: normal;
	opacity: 100%;
	color: #FFFFFF;


}
.navbar {
	position: absolute;
	padding-top: 15px;
	top:8px;
	right:90px;
	margin-left: auto;
	margin-right: auto;
	
}
 .illustration{
 	
	position: relative;

	
	left:30%;
	margin-top: -400px;

}
.illustration img{
	overflow: hidden;
}
.titlee{
	/*display: flex;
	flex-direction: column;*/
	padding-left: 70px;
	margin-top: 114px;
	margin-bottom: 120.7px;
	


}

.titlee h1{
	font-family: 'Open Sans';
	font-size: 87px;
	font-weight: bold;
	opacity: 100%;
	margin-bottom: -55px;
	color: #31384E;
	

}
.titlee h2{
	font-family: 'Open Sans';
	font-size: 61px;
	color: #31384E;
	
	font-weight:lighter;
	opacity: 100%;

}
.titlee p{
	font-family: 'Open Sans';
	margin-top:0px; 
	
	color: #697598;
	opacity: 80%;
	font-size: 18px;

}
.titlee button{
	font-family: 'Open Sans';
	color: white;
	font-size: 20px;
	margin-top: 51px;
	background-image:  linear-gradient(#2655EE,#34B3FF);
	opacity: 100%;
	border-radius: 30px;
	width:200px;
	height: 60px;
	
	color: #FFFFFF;
	border: transparent;
	



}
.clientLogo {
	/*margin-top: 80px;*/
	padding-left: 70px;
	height: 70px;
	display: inline;
	background-color: #FFFFFF;
    width: 787px;
    /*margin-bottom: 129px;*/



}

.clientLogo  #cord{
	
	margin-right: 49px;
	height: 66px;
	width: 196px;
}


.clientLogo  #group{
	margin-bottom: 20px;
	margin-right: 7.5px;
	height: 33px;
	width: 115px;
}

.clientLogo  #inline{
	margin-bottom: 20px;
	margin-right: 55px;
	height: 28px;
	width: 212px;

}
.clientLogo  #microsoft{
	height: 65px;
	width: 131px;

}
.Home{
	margin-bottom: 129px;

}
 .services-heading{
 	margin-bottom: 85px;
 	
 }
 .services-heading h5{
 	/*margin-top: 129px;*/
	text-align: center;
	font-family: 'Open Sans';
	color: #0B42F5;
	letter-spacing: 5px;
	text-transform: capitalize;
	font-size: 20px;
	opacity: 50%;


}
.services-heading h1{
	text-align: center;
	font-family: 'Open Sans';
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 32px;
	color: #31384E;
}

.services-heading p{
	text-align: center;
	opacity: 80%;
	font-family: "Open Sans";
	font-size: 18px;
	color: #697598;
	color: #697598;

}

.service-grid{
	display: grid;
	background-color: #F9F9F9;
	margin-bottom: 260px;
	box-shadow: 10px 10px 8px #F9F9F9;
	grid-template-columns: repeat(3, 300px);
	grid-gap: 37px;
	margin-left: auto;
	margin-right: auto;
	height: 410px;
	width: fit-content;
	
	
}
#buisness-strategy h2{
	font-family: "Open Sans";
	opacity: 100%;
	color: #31384E;
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 50px;
}
#buisness-analysis h2{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 50px;
	color: #31384E;

}
#content-marketing h2{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 50px;
	color: #31384E;


}
#buisness-strategy p{
	font-family: "Open Sans";
	opacity: 100%;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 18px;
	color: #31384E;
}
#buisness-analysis p{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 18px;
	color: #31384E;
}
#content-marketing p{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 18px;
	color: #31384E;
}

.service-grid #buisness-strategy{
	padding: 30px;
	background-image:linear-gradient(#0B42F5,#34E3FF);
	border-bottom-left-radius: 50px;
	border-top-right-radius: 20px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 10px 50px #31384E;
	min-height: 410px;
	box-sizing: border-box;
	width: 323px;
}


.service-grid #buisness-analysis{
	padding: 30px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 20px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 10px 50px #000000;
    min-height: 410px;
	box-sizing: border-box;
	width:323px;
}

.service-grid #content-marketing{
	padding: 30px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 20px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 10px 50px #000000;
	min-height: 410px;
	box-sizing: border-box;
	width: 323px;

}
.service-grid #background{
	margin-left: -25px;
	

}
.service-grid #icon{
	margin-left: -60px;
	margin-bottom: 30px;

}
.service-grid #icon-dec{
	margin-left: -55px;
	margin-bottom: 37px;
}
.business-opportunities-grid{
	
	display: grid;
	grid-template-columns:repeat(2, 600px);
	margin-left: auto;
	margin-right: auto;
	grid-gap: 20px;
	background-color: #F9F9F9;
	padding-left: 60px;
	
	

}
.business-opportunities-grid #buisness-img{
	height: 578px;
	width: 576px;

}
.business-opportunities-grid #business-opp{
	background-color: #FFFFFF;
	padding-left: 50px;
	padding-right: 10px;
	

}
  #business-opp h1{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 40px;
	color: #31384E;

}
#business-opp h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 40px;
	margin-top:-30px;
	color: #31384E;
	margin-bottom: 30px;


}

#business-opp p{
	text-align: left;
	font-family: "Open Sans";
	opacity: 70%;
	font-weight: lighter;
	font-size: 18px;
	 color: #31384E;
	 margin-bottom: 50px;
	

}
#business-opp a{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-size: 18px;
	margin-top: 20px;
	background-color: transparent;
	padding-right: 30px;
	text-decoration: none;
}
#arroww{

	margin-left: 15px;
}
.responsive {
  width: 100%;
  height: auto;
}

.client-prop-grid{
	
	display:grid;
	grid-template-columns: repeat(2, 700px);
	/*margin-left: auto;
	margin-right: auto;*/
	
	column-gap: 30px;
	
	margin-bottom: 223px;
	padding-left: 10px;
	



}
.client-propelied{
	background-color: #FFFFFF;

	padding-left: 60px;
	padding-right: 50px;
	
	grid-gap: 10px;
	margin-top: auto;
	margin-bottom: auto;
	
	

}
.client-propelied h1{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 40px;
	color: #31384E;


}
.client-propelied h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 40px;
	margin-top:-30px;
	color: #31384E;

}
.client-propelied p{

text-align: left;
	font-family: "Open Sans";
	opacity: 70%;
	font-weight: lighter;
	font-size: 18px;
	color: #31384E;
	margin-bottom: 50px;
}
.client-propelied a{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-size: 15px;
	/*margin-top: 100px;*/
	background-color: transparent;
	padding-right: 30px;
	text-decoration: none;

}
.prop-img{
	height:802px;
	margin-left: -100px;
	margin-right: auto;
	/*padding-left: -200px;*/
	width: 708px;


	
	/*margin-left: -100px;*/

}

.case-studies
{
	
}

.case-studies h1{
	text-align: center;
	font-family: 'Open Sans';
	font-size: 35px;
	font-weight: bold;
	color: #31384E;
	margin-bottom: 34px;
}
.case-studies p{
	text-align: center;
	opacity: 80%;
	font-family: "Open Sans";
	font-size: 18px;
	color: #697598;
	margin-bottom: 84px;
}

.case-study-grid{
	display: grid;
	background-color: #FFFFFF;
	


	grid-template-columns: repeat(3, 400px);
	grid-gap: 29px;
	margin-bottom: 80px;
	height: 630px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;

}
.case-study-1{
	box-shadow: 0px 10px 42px #000000;
	background-color: #FAFAFA;
	padding: 15px;
	height: 587px;
	width: 386px;

}
.case-study-2{
	box-shadow: 0px 10px 42px #000000;
	padding: 15px;
	height: 587px;
	width: 386px;

}
.case-study-3{
	box-shadow: 0px 10px 42px #000000;
	background-color: #FAFAFA;
	padding: 15px;
	height: 587px;
	width: 386px;

}
/*.case-study-grid p{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 20px;

}*/

.case-study-grid #case-study-1-text h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 30px;
	color: #31384E;
	margin-bottom: 23px;


}
 .case-study-grid #case-study-2-text h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 30px;
	/*margin-bottom: 60px;*/
	color: #31384E;
	margin-bottom: 23px;
}

.case-study-grid #case-study-3-text h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 30px;
	color: #31384E;
	margin-bottom: 23px;
}
.case-study-grid #case-study-1-text p{
	text-align: left;
	font-family: "Open Sans";
	opacity: 50%;
	font-weight: lighter;
	font-size: 18px;
	color: #31384E;

}
.case-study-grid #case-study-2-text p{
	text-align: left;
	
	font-family: "Open Sans";
	font-weight: lighter;
	opacity: 50%;
	font-size: 18px;
	color: #31384E;
	
}
.case-study-grid #case-study-3-text p{
	text-align: left;
	font-family: "Open Sans";
	opacity: 50%;
	font-weight: lighter;
	font-size: 18px;
	color: #31384E;
	
}
#case-study-2-img {
	/*margin-bottom: 120px;*/
	height: 386px;
	width:366px;
	margin-bottom: 45px;
}
#case-study-1-img{
	height: 386px;
	width:366px;
	margin-bottom: 45px;
}
#case-study-3-img{
	height: 366px;
	width:366px;
	margin-bottom: 45px;

}
.btn-seemore{
	margin-right: auto;
	margin-left: auto;
		height: 70px;
	width: 200px;
	margin-bottom: 194px;
}




.btn-seemore button{
	height: 70px;
	width: 250px;
	font-family: "Open Sans";
	text-align: center;
	border-radius: 50px;
	border-color: #2354F3;

	color: #2354F3;
	opacity: 100%;

	background-color:#FFFFFF;
	font-size: 18px; 
	

}

.awesome-flex {
	
	display: grid;
	
	grid-template-columns: repeat(4, 250px);
	/*margin-right: 0px;*/
	/*width: 100%;*/
	height: 493px;
	width: fit-content;
	grid-gap: 35px;
	margin-bottom: 260px;

	background-color: transparent;
	position: absolute;
	bottom: 43%;
	left: 16.4%;
	
}
/*.awesome-flex p{
	font-family: "Open Sans";
	font-weight: normal;
	opacity: 80%
	font-size: 13px;
	

}*/
.backgoud{

	position: relative;
	
	top: 200px;
	right:30%;
	overflow: hidden;
	
	
}


.number1{
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 30px;
	margin-top: 200px;
	box-shadow: 0px 15px 43px #000000;
	height: 250px;
	width: 262px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;
	
	

}
.number2{
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 30px;
	height: 250px;
	width: 262px;
	border-bottom-right-radius: 10px;
	margin-top: 200px;
	 border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 15px 43px #000000;
	


}
.number3{
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 30px;
	height: 250px;
	width: 262px;
	border-bottom-right-radius: 10px;
	margin-top: 200px;
	box-shadow: 0px 15px 43px #000000;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;
	 
	 /*width: 1fr;
	 height: 1fr;*/
	 
}
.number4{
	background-color: #FFFFFF;
	/*margin-right: 60px;*/
	padding-left: 17px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 30px;
	border-bottom-right-radius: 10px;
	margin-top: 200px;
	border-radius: 10px;
	/*box-shadow: 0px 15px 43px #000000;*/
	height: 250px;
	width: 300px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;
	  
	
	
}
.number2 #imig2{
	display: flex;
	height: 90px;
	
}

.number3 #imig3{
	display: flex;
	height: 90px;
	

}
.number1 #imig1{
	display: flex;
	height: 90px;
	

}
.number1 #one p{
	font-family: "Open Sans";
	font-weight: normal;
	opacity: 80%
	font-size: 17px;
	color: #31384E;
	margin-bottom: 40px;


}
.number2 #two p{
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 17px;
	opacity: 80%
	color: #31384E;	
	margin-bottom: 40px;

}
.number3 #three p{
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 17px;
	opacity: 80%
	color: #31384E;
	margin-bottom: 40px;

}
.number1 #texty-1 h1{
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	color: #31384E;
	font-size: 20px;
	margin-bottom: 6px;

}
.number1 #texty-1 h3{
	
	color: #31384E;
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: lighter;

}
.number2 #imig2 #texty-2 h1{
	display: flex;
	/*flex-direction: row;*/
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	color: #31384E;
	font-size: 20px;
	margin-bottom: 6px;

}
.number2 #imig2 #texty-2 h3{
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	color: #31384E;

}
.number3 #imig3 #texty-3 h1{
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	color: #31384E;
	font-size: 20px;
	margin-bottom: 6px;

}
.number3 #imig3 #texty-3 h3{
	display: flex;
	flex-direction: row;
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	color: #31384E;

}
.number2 #imig2  #texty-2{
	/*display: flex;
	flex-direction: column*/;
}
.number3 #imig3  #texty-3{
	/*display: flex;
	flex-direction: column;*/
}
/*.number3 #imig3 #texty h3{
	display: flex;
	flex-direction: column;
	color: #31384E;
}
.number3 #imig3 #texty h1{
	display: flex;
	flex-direction: column;
	color: #31384E;
}*/
.number4 #heading-name {
	display: flex;
	flex-direction: column;
}
.number4 #heading-name h1{
	display: flex;
	color: #31384E;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 30px;
	margin-bottom: -22px;
}
.number4 #heading-name h2{
	display: flex;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 30px;
	color: #31384E;
}
.number4 img{
	width:46px;
}
.registration-grid{
	display:grid;
	grid-template-columns:repeat(2,400px);
	margin-left: auto;
	margin-right: auto;
	grid-gap: 30px;
	height: 593px;
	width: fit-content;
	padding: 5px;
	margin-bottom: 260px;
	

	
}
.reg-form{
	background-color: #FFFFFF; 
	padding-right: 10px;
	padding-top:40px;

	padding-left:30px;
	padding-bottom:150px;
	
	border-radius: 10px;
	margin-bottom: 30px;
	height: 430px;
	
	
	 box-shadow: 0px 6px 48px #000000;
}
.reg-form form{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	padding-top: 30px:
	padding-right: 30px;
	padding-left: 10px: 
	padding-bottom: 40px;
	

}
.reg-form #message{
	resize: none;
}
.reg-form textarea{
	margin-bottom: 40px;
	margin-right: 30px;
	margin-top: 40px;
	margin-left: 20px;
	
	padding: 15px;
	background-color: #FBFBFB;
	max-width: 50%;
	border: transparent;
}

::placeholder{
	color: #31384E;
	opacity: 50%;
}
.reg-form input{
	margin-bottom: 40px;
	margin-right: 30px;
	margin-top: 40px;
	margin-left: 20px;
	
	padding-top: 23px;
	padding-bottom: 23px;
	padding-right: 20px;
	background-color: #FBFBFB;
	border: transparent;
	padding-left: 27px;
}
 .reg-form #btni{
  	width: 100%;
	background-color: linear-gradient(#0B42F5,#34B3FF);
	color:#ffffff;
	border: transparent;
	border-right:10px;

	padding:5px 5px;
	margin-bottom:30px;
	margin-left: 35%;

  }
  .des-reg{
  	padding-left: 50px;
  	
  	height: 110px;
  	
  	/*padding-left: 120px;*/
  }
  .des-reg h1{
  	display: flex;
	font-size: 40px;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	margin-bottom: -40px;
	color: #31384E;

  }
  .des-reg h3{
  	display: flex;
	font-size: 40px;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	color: #31384E;

  }
  .des-reg p{
  	display: flex;
	
	font-family: "Open Sans";
	opacity: 70%;
	font-weight: normal;
	font-size: 18px;
	color: #31384E;

  }
  /*.btno{
  	
 	margin-top: 20px;
  	margin-left: 45px;
  	margin-top: 30px;
	padding-top: 30px:
	padding-right: 40px;
	padding-left: 30px:
	width: 100%;
	background-color: linear-gradient(#0B42F5,#34B3FF);
	border: transparent;
	

  }*/
  .btno #btnn{
  	width: 210px;
  	height: 60px;
  	background-image: linear-gradient(#0B42F5, #34B3FF);
  	color: #FFFFFF;
  	 border: 1px solid #4CAF50;
  	 border-radius: 96px;
  	 border: transparent;
  	 opacity: 100%;
  	 /*margin-bottom: 40px;
	margin-right: 30px;
	margin-top: 40px;*/
	margin-left: 20px;

  }
  .Subs{
  	/*display: flex;*/
  	/*flex-direction: column;*/
  	margin-bottom: 260px;
  /*	padding-top: 130px;*/
  	/*height: 263px;*/
  	width: fit-content;
  	 margin-right: auto;
   margin-left: auto;
  	
  	/*margin-top: 130px;*/

  	
  }
.subs-head{
  	height: 110px;
	/*margin-top: 260px;*/
	text-align: center;
	margin-bottom: 83px;

}
.subs-head h1{
	color: #31384E;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 40px;
}
.subs-head h2{
	color: #31384E;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 40px;
}
.Subs-flex{
	
	margin-top: 83px;
	height: 70px;


}
.Subs-flex #btn{
	height: 70px;
	width: 207px;
  	background-image: linear-gradient(#0B42F5, #34B3FF);
  	color: #FFFFFF;
  	 border: 1px solid #4CAF50;
  	 border-radius: 96px;
  	 border: transparent;
  	 opacity: 100%;
  	 /*margin-bottom: 40px;
	margin-right: 30px;
	margin-top: 40px;*/
	margin-left: 20px;
	/*margin-bottom: 83px;*/

}
.Subs-flex input{
	
	height: 70px;
	width: 460px;
	background-color: #ECF0FC;
	border-radius: 50px;
	opacity: 30%;
	border: 1px solid #31384E;

}


.web-des-grid{
	display: grid;
	grid-template-columns:repeat(4, 200px);
	grid-gap: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 130px;
	min-height: 374px;
	width: fit-content;
	margin-bottom: 111px;
	
	
}
.logo-des{
	
	padding-right: 100px;
	margin-top: 22px;
}
.logo-des #logoss{
	width: 10vw;
}

.logo-des h3{
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	font-size: 15px;
	color: #31384E;

}
.serv-des h1{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: bold;
	font-size: 25px;
	color: #31384E;
}
.serv-des h3{
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	font-size: 17px;
	color: #31384E;
}
.about-des h1{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: bold;
	font-size: 25px;
	color: #31384E;

}
.about-des h3{
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	font-size: 17px;
	color: #31384E;
}
.Address-des h1{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: bold;
	font-size: 25px;
	color: #31384E;

}
.Address-des h3{
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	font-size: 17px;
	color: #31384E;
}

.serv-des{
	height: 241px;
	

}
.about-des{
	height: 203px;
	


}

.Address-des{
	height: 241px;
	


}
.footerr a{
	
	text-decoration: none;
}
.footerr p{
	font-family: "Open Sans";
	opacity: 70%;
	font-size: 16px;
	color: #31384E;

}
.footerr {
	
	
	
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}












@media all and (max-width: 1200px){
	body{
		width: 100%;
	}
	.header{
		margin-top: 25px;
    	display: flex;
    	margin-bottom: 0px;
    	flex-direction: column;
    	margin-left: auto;
    	margin-right: auto;
    	

	
    	 
        
	}
	.illustration{
		display: flex;
		
		height: 210vh;
		width: 130vw;
		

	}
	.navbar {
		display: flex;
		flex-direction: column;
		margin-top: 150px;
		position: absolute;
		top: 0px;
		left: 40%;
		right: 50%;
		/*width: fit-content;*/
		height:fit-content;
		margin-right: auto;
		margin-left: auto;
		


	}
	.logu{
		
		height: fit-content;
		margin-top: -450px;
		padding-right: 120px;
		margin-right: auto;
		margin-left: auto;



	}
	.navbar #homee{
		font-family: "Open Sans";
		color: #C4C9D9;
    	font-size: 16px;

	}
	.navbar a{
		font-family: "Open Sans";
		margin-top: 10px;
    	display: block;
    	text-align: left;
    	/*width: fit-content;*/
    	color: #C4C9D9;
    	font-size: 16px;
    	display:flex;
    	flex-direction: column;
    	/*margin-right: 60px;*/
    	margin-left: auto;
    	margin-right: auto;
	}
	/*.front{
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		width: fit-content;	
}*/
	 

	/*.header li{
		display: flex;
		font-size: 30px;
		width: fit-content;
        flex-direction: column;
        height:  fit-content;

	}
	ul li #homee{
		font-family: "Open Sans";
	
		opacity: 100%;
		color: #C4C9D9;

	}*/
	.logu{
		display: flex;
		flex-direction: column;
        /*margin-top: 400px;*/
        height: fit-content;
		/*width: fit-content;*/
    }
	/*.navbar li{
		text-align: center;
         margin-top: 5px;
         margin-bottom: 5px;
         margin-right: 0%;
	}*/

	.titlee{

		margin-top: -120px;

		margin-bottom: auto;
		display: flex;
		height: fit-content;
		width: fit-content;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		
	}
	

	
	/*.titlee h1{
		font-size: 30px;
		text-align: left;
         width: fit-content;
         margin-bottom: auto;
	}
	.titlee h2{
		font-size: 20px;
		text-align: left;
         width: fit-content;
         height: fit-content;
         
	}
	.titlee p{
		font-size: 8px;
		text-align: left;
         width: 100%;
	}
	.titlee button{
		  
         margin-right: auto;
         margin-bottom: auto;
	}*/
	.clientLogo  #cord{
	width: 100%;
	height: auto;
	}


	.clientLogo  #group{
	width: 60%;
	height: auto;
	}

	.clientLogo  #inline{
	width: 100%;
	height: auto;

	}
	.clientLogo  #microsoft{
	width: 60%;
	height: auto;

	}
	.clientLogo{
		display: flex;
		margin-left: 50;
		height: fit-content;
		width: 15%;
		margin-top: 50px;

	}
	
	/*.services-heading h5{
		font-size: 10px;
	}
	.services-heading h1{
		font-size: 16px;
	}
	.services-heading p{
		font-size: 8px;
	}*/
	/*.service-grid img{
		width: 30%;
		height: auto;
	}*/

   .service-grid
   {
   	display: flex;
   	flex-direction: column;
   	margin-bottom: 1100px;
   } 

	/*.service-grid h2{
		font-size: 10px;
	}
	.service-grid p{
		font-size: 8px;
	}*/
	.service-grid #background{
	position: relative;
	
	}
	.service-grid #buisness-strategy {
	margin-bottom: 50px;

	}
	.service-grid #buisness-analysis{
	margin-bottom: 50px;

	}
	.service-grid #buisness-analysis{
	margin-bottom: 50px;

	}
	.business-opportunities-grid{
		display: flex;
		flex-direction: column;
	}


	.business-opportunities-grid #buisness-img{
		width: 100%;
		height: auto;
	}
	.business-opportunities-grid #business-opp{
		margin-right: auto;
		margin-left: auto;
		width: 624px;
	}
	/*.business-opportunities-grid #business-opp h1{
		font-size: 20px;


	}
	.business-opportunities-grid #business-opp h2{
		font-size: 20px;
	}
	.business-opportunities-grid #business-opp p{
		font-size: 8px;
	}
	.business-opportunities-grid #business-opp a{
		font-size: 8px;
	}
	.business-opportunities-grid #arroww{
		width: 5%;
		height: auto;
	}*/
	/*.client-prop-grid #client-propelied h1{
		font-size: 20px;
	}
	.client-prop-grid #client-propelied h2{
		font-size: 20px;
	}
	.client-prop-grid #client-propelied p{
		font-size: 8px;
	}
	.client-prop-grid #client-propelied a{
		font-size: 8px;
	}*/
	.client-prop-grid {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;

	}
	.client-propelied{
		margin-left: auto;
		margin-right: auto;
		width: 624px;
	}
	.prop-img{
		width: fit-content;
		height: fit-content;
		margin-right: auto;
		margin-left: auto;
		
		
	}
	.case-study-grid{
		
		display: flex;
		flex-direction: column;
		margin-bottom: 1350px;
		margin-right: auto;
		margin-left: auto;




	}
	

	/*#case-study-1-img{
		width: fit-content;
		height: auto;
	}
	#case-study-2-img{
		width: fit-content;
		height: auto;
	}
	#case-study-3-img{
		width: fit-cont;
		height: auto;
	}*/
	.btn-seemore{
		margin-left: auto;
		margin-right: auto;
		height: 70px;
		width: 250px;
		text-align: center;
		
	}
	.btn-seemore button{
		/*width: 5%;*/
		/*display: flex;*/

		font-size: 18px; 
		
		padding-left: 30px;


	}
	.backgoud{
		display: flex;
		overflow: visible;

		
		/*height: fit-content;*/
		position: relative;
		/*top:900px;*/
		/*right: 50%;*/

		
	}
	.awesome-flex{
		display: flex;
		flex-direction: column;
		overflow: visible;
		margin-bottom: 800px;
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		grid-gap: 0px;
		position: absolute;
		left: 62.4%;
		/*left:145px;*/
		top: -250px;

		
	}
	/*.number1{
		width: fit-content;
         
        height:  fit-content;

	}
	.number2 {.width: fit-content;
         
        height:  fit-content;
    }
    .number3 {
    	width: fit-content;
         
        height:  fit-content;
    }
    .number4 {
    	width: fit-content;
         
        height:  fit-content

    }
	

	.number1 #imig1{
		width: 100%;
		height: auto;
	}
	.number2 #imig2{
		width: 100%;
		height: auto;
	}
	.number3 #imig3{
		width: 100%;
		height: auto;
	}
	.number4 #heading-name h1{
		font-size: 10px;
	}
	.number4 #heading-name h2{
		font-size: 10px;
	}*/
	.registration-grid{
		display: flex;
		flex-direction: column;
		margin-right:auto;
		margin-left: auto;
		margin-top: 700px;
		/*height: fit-content;*/

	}
	.reg-form{
		/*display: flex;*/
		/*height: fit-content;
		width: fit-content;*/
		width: 527px;
		margin-right: auto;
		margin-left: auto;

	}
	.Subs{
		display: flex;
		flex-direction: column;
		/*height: fit-content;*/
		margin-right:auto;
		margin-left: auto ;
		margin-top: 400px;
		width: 500px;

	}
	.Subs-flex{
		display: flex;
		flex-direction: column;
		margin-top: 130px;
		height: fit-content;
		width: 594px;
		margin-left: auto;
		margin-right: auto;

		

		}
		.Subs-flex input{
			margin-bottom: 10px;
		}
		.Subs-flex #btn{
			margin-left: auto;
			margin-right: auto;
		}


	
	.web-des-grid{
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;

	}

	


}

/*@media(max-width: 1020px)
{
	.Home ul li{
		font-size: 8px;
	}
	.Home h1{
		font-size: 14px;
	}
	.Home h1{
		font-size: 12px;
	}
}*/




















