body{
	background-color: #FFFFFF;
	margin:0%;
}
.Home{
	
	
overflow: hidden;
}

header{
	margin-top: -680px;
}
header #logo {
	
	margin-left: 180px;
	margin-top: -15px;
	height: 30px;
	opacity: 100%;
}
.backsymbol{
	position: relative;
	top:0%;
	right: 40%;
}
ul li{
	display: inline;
	
	
	
	padding-left: 10px;
	padding-right: 30px;

}
header #menu{
	position: absolute;
	top:8px;
	right:120px;
}
 .illustration{
 	
	position: relative;
	bottom:1%;
	left:30%;
	margin-top: -400px;


}
.titlee{
	margin-left: 180px;
	margin-top: 110px;
	margin-bottom: 50px;


}

.titlee h1{
	font-family: 'Open Sans';
	font-size: 67px;
	font-weight: bold;
	opacity: 100%;
	margin-bottom: -55px;
	color: #31384E;
	

}
.titlee h2{
	font-family: 'Open Sans';
	font-size: 51px;
	color: #31384E;
	
	font-weight:lighter;
	opacity: 100%;

}
.titlee p{
	font-family: 'Open Sans';
	margin-top:0px; 
	
	color: #697598;
	opacity: 80%;
	font-size: 18px;

}
.titlee button{
	font-family: 'Open Sans';
	color: white;
	margin-top: 51px;
	background-image:  linear-gradient(#2655EE,#34B3FF);
	opacity: 100%;
	border-radius: 30px;
	padding-right: 49px;
  	padding-left: 50px;
  	padding-bottom: 18px;
  	padding-top: 17px;
	
	color: #FFFFFF;
	border: transparent;
	margin-bottom: 40px;



}
.clientLogo {
	margin-top: 80px;
	margin-left: 180px;
	
	display: inline;
	background-color: #FFFFFF;




}

.clientLogo  #cord{
	margin-right: 15px;
	margin-right: 40px;
	height: 35px;
}


.clientLogo  #group{
	margin-bottom: 10px;
	height: 25px;
}

.clientLogo  #inline{
	margin-bottom: 15px;
	margin-right: 40px;
	height: 15px;

}
.clientLogo  #microsoft{
	height: 40px;

}
.Home{
	margin-bottom: 200px;

}
 .services-heading{
 	margin-bottom: 85px;
 }
 .services-heading h5{
 	margin-top: 129px;
	text-align: center;
	font-family: 'Open Sans';
	color: #0B42F5;
	letter-spacing: 5px;
	text-transform: capitalize;
	font-size: 20px;
	opacity: 50%;


}
.services-heading h1{
	text-align: center;
	font-family: 'Open Sans';
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 32px;
	color: #31384E;
}

.services-heading p{
	text-align: center;
	opacity: 80%;
	font-family: "Open Sans";
	font-size: 18px;
	color: #697598;
	color: #697598;

}

.service-grid{
	display: inline-grid;
	background-color: #F9F9F9;
	margin-bottom: 260px;
	box-shadow: 10px 10px 8px #F9F9F9;
	grid-template-columns: auto auto auto;
	grid-column-gap: 30px;
	
	
	margin-left: 180px;
	margin-right: 50px;
}
#buisness-strategy h2{
	font-family: "Open Sans";
	opacity: 100%;
	color: #31384E;
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 50px;
}
#buisness-analysis h2{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 50px;
	color: #31384E;

}
#content-marketing h2{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 50px;
	color: #31384E;


}
#buisness-strategy p{
	font-family: "Open Sans";
	opacity: 100%;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 18px;
	color: #31384E;
}
#buisness-analysis p{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 18px;
	color: #31384E;
}
#content-marketing p{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 18px;
	color: #31384E;
}

.service-grid #buisness-strategy{
	align-self: start;
	padding: 30px;
	background-image:linear-gradient(#0B42F5,#34E3FF);
	border-bottom-left-radius: 50px;
	border-top-right-radius: 20px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 10px 50px #000000;
}


.service-grid #buisness-analysis{
	align-self: center;
	padding: 30px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 20px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 10px 50px #000000;


}

.service-grid #content-marketing{
	align-self : end;
	padding: 30px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 20px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 10px 50px #000000;
	

}
.service-grid #background{
	margin-left: -25px;
	

}
.service-grid #icon{
	margin-left: -60px;
	margin-bottom: 30px;

}
.service-grid #icon-dec{
	margin-left: -55px;
	margin-bottom: 37px;
}
.business-opportunities-grid{
	
	display: inline-grid;
	grid-template-columns: auto auto;
	margin-left: 170px;
	margin-right: 40px;
	column-gap: 20px;
	background-color: #F9F9F9;
	

}
.business-opportunities-grid #buisness-img{
	height: 578px;
	width: 586px;

}
.business-opportunities-grid #business-opp{
	background-color: #FFFFFF;
	padding-left: 50px;
	padding-right: 20px;
	

}
  #business-opp h1{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 40px;
	color: #31384E;

}
#business-opp h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 40px;
	margin-top:-30px;
	color: #31384E;
	margin-bottom: 30px;


}

#business-opp p{
	text-align: left;
	font-family: "Open Sans";
	opacity: 70%;
	font-weight: lighter;
	font-size: 18px;
	 color: #31384E;
	 margin-bottom: 50px;
	

}
#business-opp a{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-size: 18px;
	margin-top: 20px;
	background-color: transparent;
	padding-right: 30px;
}
#arroww{

	margin-left: 15px;
}
.responsive {
  width: 100%;
  height: auto;
}

.client-prop-grid{
	
	display: inline-grid;
	grid-template-columns: auto auto;
	margin-left: 120px;
	/*margin-right: 120px;*/
	column-gap: 20px;
	/*background-color: #F9F9F9;*/
	margin-bottom: 223px;

}
.client-prop-grid #client-propelied{
	background-color: #FFFFFF;
	padding-left: 5px;
	padding-right: 370px;
	margin-right: -180px;
	/*margin-top: 256px;*/
	padding-top: 256px;

}
.client-prop-grid #client-propelied h1{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 40px;
	color: #31384E;


}
.client-prop-grid #client-propelied h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 40px;
	margin-top:-30px;
	color: #31384E;

}
.client-prop-grid #client-propelied p{

text-align: left;
	font-family: "Open Sans";
	opacity: 70%;
	font-weight: lighter;
	font-size: 18px;
	color: #31384E;
	margin-bottom: 50px;
}
.client-prop-grid #client-propelied a{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-size: 15px;
	/*margin-top: 100px;*/
	background-color: transparent;
	padding-right: 30px;

}
.client-prop-grid #prop-img{
	/*margin-right: -80px;*/
	margin-left: -160px;
	padding-left: -150px;
	margin-bottom: -100px;
	/*hieght:780px;
	width: 682px;*/

}
.case-studies h1{
	text-align: center;
	font-family: 'Open Sans';
	font-size: 35px;
	font-weight: bold;
	color: #31384E;
	margin-bottom: 34px;
}
.case-studies p{
	text-align: center;
	opacity: 80%;
	font-family: "Open Sans";
	font-size: 18px;
	color: #697598;
	margin-bottom: 84px;
}

.case-study-grid{
	display: inline-grid;
	background-color: #FFFFFF;


	grid-template-columns: auto auto auto;
	grid-column-gap: 21px;
	margin-bottom: 80px;
	
	margin-left: 90px;
	margin-right: 50px;

}
.case-study-1{
	box-shadow: 0px 10px 42px #000000;
	background-color: #FAFAFA;
	padding: 15px;

}
.case-study-2{
	box-shadow: 0px 10px 42px #000000;
	padding: 15px;

}
.case-study-3{
	box-shadow: 0px 10px 42px #000000;
	background-color: #FAFAFA;
	padding: 15px;

}
/*.case-study-grid p{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 20px;

}*/

.case-study-grid #case-study-1-text h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 30px;
	color: #31384E;
	margin-bottom: 23px;


}
 .case-study-grid #case-study-2-text h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 30px;
	/*margin-bottom: 60px;*/
	color: #31384E;
	margin-bottom: 23px;
}

.case-study-grid #case-study-3-text h2{
	text-align: left;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 30px;
	color: #31384E;
	margin-bottom: 23px;
}
.case-study-grid #case-study-1-text p{
	text-align: left;
	font-family: "Open Sans";
	opacity: 50%;
	font-weight: lighter;
	font-size: 18px;
	color: #31384E;

}
.case-study-grid #case-study-2-text p{
	text-align: left;
	
	font-family: "Open Sans";
	font-weight: lighter;
	opacity: 50%;
	font-size: 18px;
	color: #31384E;
	
}
.case-study-grid #case-study-3-text p{
	text-align: left;
	font-family: "Open Sans";
	opacity: 50%;
	font-weight: lighter;
	font-size: 18px;
	color: #31384E;
	
}
#case-study-2-img {
	/*margin-bottom: 120px;*/
	height: 386px;
	width:366px;
	margin-bottom: 45px;
}
#case-study-1-img{
	height: 386px;
	width:366px;
	margin-bottom: 45px;
}
#case-study-3-img{
	height: 366px;
	width:366px;
	margin-bottom: 45px;

}
.btn-seemore{
	

	
  margin-left: 585px;
  

}
.btn-seemore button{
	padding-left: 86px;
	padding-right: 85px;
	padding-top: 23px;
	padding-bottom: 23px;
	border-radius: 50px;
	border-color: #2354F3;
	color: ##2354F3
	opacity:0.1;
	background-color:transparent;
	font-size: 18px; 
	

}

.awesome-flex {
	
	display: flex;
	margin-right: -20px;
	width: 100%;
	/*height: 100%;*/
	column-gap: 20px;
	background-color: transparent;
	position: absolute;
	bottom: 65%;
	right: -16%;


	


}
/*.awesome-flex p{
	font-family: "Open Sans";
	font-weight: normal;
	opacity: 80%
	font-size: 13px;
	

}*/
.backgoud{

	position: relative;

	top: 200px;
	right:30%;
	overflow: hidden;
	
	
}


.number1{
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 30px;
	margin-top: 200px;
	box-shadow: 0px 15px 43px #000000;

	width: 250px;
	border-radius: 
	

}
.number2{
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 30px;
	width: 250px;
	border-bottom-right-radius: 10px;
	margin-top: 200px;
	 
	  box-shadow: 0px 15px 43px #000000;
	


}
.number3{
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 30px;
	width: 250px;
	border-bottom-right-radius: 10px;
	margin-top: 200px;
	box-shadow: 0px 15px 43px #000000;
	 
	 /*width: 1fr;
	 height: 1fr;*/
	 
}
.number4{
	background-color: #FFFFFF;
	/*margin-right: 60px;*/
	padding-left: 17px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 30px;
	border-bottom-right-radius: 10px;
	margin-top: 200px;
	border-radius: 10px;
	/*box-shadow: 0px 15px 43px #000000;*/
	width: 250px;
	  
	
	
}
.number2 #imig2{
	display: flex;
	height: 90px;
	
}

.number3 #imig3{
	display: flex;
	height: 90px;
	

}
.number1 #imig1{
	display: flex;
	height: 90px;
	

}
.number1 #one p{
	font-family: "Open Sans";
	font-weight: normal;
	opacity: 80%
	font-size: 17px;
	color: #31384E;
	margin-bottom: 40px;


}
.number2 #two p{
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 17px;
	opacity: 80%
	color: #31384E;	
	margin-bottom: 40px;

}
.number3 #three p{
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 17px;
	opacity: 80%
	color: #31384E;
	margin-bottom: 40px;

}
.number1 #texty-1 h1{
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	color: #31384E;
	font-size: 20px;
	margin-bottom: 6px;

}
.number1 #texty-1 h3{
	
	color: #31384E;
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: lighter;

}
.number2 #imig2 #texty-2 h1{
	display: flex;
	/*flex-direction: row;*/
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	color: #31384E;
	font-size: 20px;
	margin-bottom: 6px;

}
.number2 #imig2 #texty-2 h3{
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	color: #31384E;

}
.number3 #imig3 #texty-3 h1{
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	color: #31384E;
	font-size: 20px;
	margin-bottom: 6px;

}
.number3 #imig3 #texty-3 h3{
	display: flex;
	flex-direction: row;
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	color: #31384E;

}
.number2 #imig2  #texty-2{
	/*display: flex;
	flex-direction: column*/;
}
.number3 #imig3  #texty-3{
	/*display: flex;
	flex-direction: column;*/
}
/*.number3 #imig3 #texty h3{
	display: flex;
	flex-direction: column;
	color: #31384E;
}
.number3 #imig3 #texty h1{
	display: flex;
	flex-direction: column;
	color: #31384E;
}*/
.number4 #heading-name {
	display: flex;
	flex-direction: column;
}
.number4 #heading-name h1{
	display: flex;
	color: #31384E;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 33px;
	margin-bottom: -22px;
}
.number4 #heading-name h2{
	display: flex;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 33px;
	color: #31384E;
}
.number4 img{
	width:46px;
}
.registration-grid{
	display: inline-grid;
	grid-template-columns: auto auto;
	margin-left: 230px;
	grid-column-gap: 30px;
	
	padding: 5px;

	
}
.reg-form{
	background-color: #FFFFFF; 
	padding-right: 10px;
	padding-top:40px;

	padding-left:30px;
	padding-bottom:150px;
	margin-left: 20px;
	border-radius: 10px;
	height: 393px;
	width: 397px;
	
	 box-shadow: 0px 6px 48px #000000;
}
.reg-form form{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	padding-top: 30px:
	padding-right: 30px;
	padding-left: 10px: 
	padding-bottom: 40px;
	

}
.reg-form #message{
	resize: none;
}
.reg-form textarea{
	margin-bottom: 40px;
	margin-right: 30px;
	margin-top: 40px;
	margin-left: 20px;
	
	padding: 15px;
	background-color: #FBFBFB;
	max-width: 50%;
	border: transparent;
}

::placeholder{
	color: #31384E;
	opacity: 50%;
}
.reg-form input{
	margin-bottom: 40px;
	margin-right: 30px;
	margin-top: 40px;
	margin-left: 20px;
	
	padding-top: 23px;
	padding-bottom: 23px;
	padding-right: 20px;
	background-color: #FBFBFB;
	border: transparent;
	padding-left: 27px;
}
 .reg-form #btni{
  	width: 100%;
	background-color: linear-gradient(#0B42F5,#34B3FF);
	color:#ffffff;
	border: transparent;
	border-right:10px;

	padding:5px 5px;
	margin-bottom:30px;
	margin-left: 35%;

  }
  .des-reg{
  	padding-left: 30px;
  }
  .des-reg h1{
  	display: flex;
	font-size: 40px;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	margin-bottom: -40px;
	color: #31384E;

  }
  .des-reg h3{
  	display: flex;
	font-size: 40px;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	color: #31384E;

  }
  .des-reg p{
  	display: flex;
	
	font-family: "Open Sans";
	opacity: 70%;
	font-weight: normal;
	font-size: 18px;
	color: #31384E;

  }
  /*.btno{
  	
 	margin-top: 20px;
  	margin-left: 45px;
  	margin-top: 30px;
	padding-top: 30px:
	padding-right: 40px;
	padding-left: 30px:
	width: 100%;
	background-color: linear-gradient(#0B42F5,#34B3FF);
	border: transparent;
	

  }*/
  .btno #btnn{
  	padding-right: 46px;
  	padding-left: 47px;
  	padding-bottom: 18px;
  	padding-top: 18px;
  	background-image: linear-gradient(#0B42F5, #34B3FF);
  	color: #FFFFFF;
  	 border: 1px solid #4CAF50;
  	 border-radius: 96px;
  	 border: transparent;
  	 opacity: 100%;
  	 /*margin-bottom: 40px;
	margin-right: 30px;
	margin-top: 40px;*/
	margin-left: 20px;

  }
  .Subs{

  	margin-bottom: 260px;
  	padding-top: 130px;
  	

  	
  }
.subs-head{

	margin-top: 260px;
	text-align: center;

}
.subs-head h1{
	color: #31384E;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: normal;
	font-size: 40px;
}
.subs-head h2{
	color: #31384E;
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: lighter;
	font-size: 40px;
}
.Subs-flex{
	margin-left: 27%;
	margin-top: 60px;


}
.Subs-flex #btn{
	padding-right: 63px;
  	padding-left: 62px;
  	padding-bottom: 23px;
  	padding-top: 23px;
  	background-image: linear-gradient(#0B42F5, #34B3FF);
  	color: #FFFFFF;
  	 border: 1px solid #4CAF50;
  	 border-radius: 96px;
  	 border: transparent;
  	 opacity: 100%;
  	 /*margin-bottom: 40px;
	margin-right: 30px;
	margin-top: 40px;*/
	margin-left: 20px;
	/*margin-bottom: 83px;*/

}
.Subs-flex input{
	
	padding-left: 35px;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-right: 303px;
	border: transparent;
	border-radius: 20px;
	border: 3px solid #F9F9F9;

}

.web-des-grid{
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 120px;
	margin-left: 150px;
	padding-top: 130px;
	
}
.logo-des{
	margin-right: 50px;
	margin-top: 22px;
}
.logo-des h3{
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	font-size: 15px;
	color: #31384E;

}
.serv-des h1{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: bold;
	font-size: 25px;
	color: #31384E;
}
.serv-des h3{
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	font-size: 17px;
	color: #31384E;
}
.about-des h1{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: bold;
	font-size: 25px;
	color: #31384E;

}
.about-des h3{
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	font-size: 17px;
	color: #31384E;
}
.Address-des h1{
	font-family: "Open Sans";
	opacity: 100%;
	font-weight: bold;
	font-size: 25px;
	color: #31384E;

}
.Address-des h3{
	font-family: "Open Sans";
	opacity: 60%;
	font-weight: normal;
	font-size: 17px;
	color: #31384E;
}
 a{
	
	text-decoration: none;
}
footer p{
	font-family: "Open Sans";
	opacity: 70%;
	font-size: 16px;
	color: #31384E;

}
footer {
	margin-top: 150px;
	position: relative;
	left: 35%;
}


















